
.footer__callback {
  padding-top: 8px;
  margin-bottom: 49px;
  margin-left: 14px;
  @media (min-width: 900px) {
    margin-left: 0;
    margin-bottom: 0;
    padding-top: 0;
    width: 307px;
  }
  .footer__title {
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 18px;
  }
  .footer__callback-form{
    display: grid;
    grid-template-columns: 1fr 53px;
    gap: 15px;
    padding-left: 4px;
    padding-right: 11px;
    @media (min-width: 900px) {
      padding-right: 0;
      gap: 27px;
    }
  }
  .footer__callback-field {
    .input {
      background-color: var(--white_0);
      border-color: var(--white_0);
      border-bottom: 2px solid var(--blue);
      border-radius: 0;
      box-shadow: none;
      color: var(--white);
      padding: 0;
      width: 100%;
      height: 41px;
      &:hover, &:focus {
        box-shadow: none;
      }
      &::placeholder {
        color: var(--white);
        opacity: 1;
      }

      &::-moz-placeholder {
        color: var(--white);
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: var(--white);
      }

      &::-webkit-input-placeholder {
        color: var(--white);
      }
    }
  }
  .footer__callback-buttons {
    padding-top: 1px;
    @media (min-width: 900px) {
      padding-top: 2px;
    }
    .button--callback {
      border-radius: 4px;
      width: 53px;
      height: 40px;
      .icon {
        font-size: 21px;
      }
    }
  }
}