.footer__review {
  display: none;
  @media (min-width: 1280px) {
    display: block;
    grid-column: 1 / 3;
    padding: 17px 101px;
    margin-bottom: 23px;
  }
  .paragraph {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
  }
}
