.header {
  background-color: var(--header-bg-color);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  min-height: 52px;
  @media (min-width: 900px) {
    min-height: 84px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 17px;

  @media (min-width: 900px) {
    padding: 0 68px;
  }
  @media (min-width: 1280px) {
    padding: 0 59px 0 60px;
  }
  @media (min-width: 1920px) {
    padding: 0 59px 0 64px;
  }
}

.header__left-side {
  display: flex;
  align-items: center;
}

.header__right-side {
  display: flex;
  align-items: center;
  @media (min-width: 1280px) {
    padding-top: 19px;
  }
  .header__buttons {
    display: none;
    @media (min-width: 1280px) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      padding-left: 9px;
      padding-right: 1px;
      position: relative;
      margin-left: 30px;
      &:before {
        content: '';
        background-color: rgba(196, 196, 196, 0.4);
        position: absolute;
        top: 14px;
        left: 0;
        width: 1px;
        height: 21px;
      }
    }
    .button-clients {
      border-radius: 3px;
      min-width: 120px;
      height: 45px;
      .text {
        font-size: 14px;
        font-weight: 500;
        text-indent: 4px;
      }
    }
    .button-login {
      border-radius: 3px;
      min-width: 111px;
      height: 45px;
      .text {
        font-size: 14px;
        font-weight: 500;
        text-indent: 4px;
      }
    }
  }
}