.menu {
  display: none;
  @media (min-width: 1280px) {
    display: block;
    padding-top: 29px;
  }
  .menu__nav {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 7px;
    padding-left: 90px;
  }
  .menu__nav-link {
    display: inline-block;
    color: #292828;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 0 #292828;
    transition: text-shadow .1s;
    min-width: 103px;
    text-align: left;

    &:hover {
      color: var(--blue);
      text-shadow: 0 0 1px var(--blue);
    }

    &:nth-child(1) {
      @media (min-width: 1920px) {
        min-width: 125px;
      }
    }

    &:nth-child(2) {
      min-width: 86px;
      @media (min-width: 1920px) {
        min-width: 107px;
      }
    }

    &:nth-child(3) {
      min-width: 123px;
      @media (min-width: 1920px) {
        min-width: 139px;
      }
    }
  }
}
