.logo {
  padding-top: 21px;
  @media (min-width: 900px) {
    padding-top: 33px;
  }
  @media (min-width: 1280px) {
    padding-top: 30px;
  }
}

.logo__img {
  width: 118px;
  height: 15px;
  @media (min-width: 900px) {
    width: 137px;
    height: 18px;
  }
  @media (min-width: 1280px) {
    width: 127px;
    height: 17px;
  }
}