.menu {
  display: none;
  @media (min-width: 1280px) {
    display: block;
  }
  .menu__nav {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 90px;
    padding-top: 7px;
  }
  .menu__nav-link {
    display: inline-block;
    color: #292828;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 0 #292828;
    transition: text-shadow .1s;

    &:hover {
      color: var(--blue);
      text-shadow: 0 0 1px var(--blue);
    }

    &:nth-child(2) {
      padding-left: 22px;
    }

    &:nth-child(3) {
      padding-left: 23px;
    }

    &:nth-child(4) {
      padding-left: 16px;
    }
  }
}
