.locale-switcher {
  background-color: var(--locale-switcher-bg-color);
  display: none;
  font-size: 1em;
  font-weight: bold;
  padding: .5em .3em;
  height: 2em;
  @media (min-width: 1280px) {
    display: block;
  }

  .ant-select-suffix {
    color: var(--text-color) !important;
  }

  &__option {
    padding: 0 !important;
    margin: 0 !important;
  }

  &__option-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .5em;
  }

  &__flag {
    display: inline-block;
    width: 1.5em;
    margin-right: .5em;
  }

  &__text {
    color: var(--text-color);
  }
}

.ant-select-dropdown {
  background-color: var(--locale-switcher-bg-color) !important;
  border: 1px solid var(--text-color);

  .locale-switcher__option {
    background-color: var(--locale-switcher-bg-color-hover) !important;
    transition: background-color 0.5s;

    &.ant-select-item-option-active {
     background-color: var(--locale-switcher-bg-color-active) !important;
    }
  }
}

