.ant-btn {
  // primary
  &.ant-btn-color-primary {
    &.ant-btn-variant-solid {
      background-color: var(--button-primary-solid-bg-color);
      border: 1px solid #3F3CE3;
      &:hover, &:focus {
        background-color: var(--button-primary-solid-bg-color-hover);
        border: 1px solid #3F3CE3;
      }
      .text {
        color: var(--button-primary-solid-color);
      }
    }

    &.ant-btn-variant-outlined {
      background-color: var(--button-primary-outlined-bg-color);
      border: 1px solid #3F3CE3;
      &:hover, &:focus {
        background-color: var(--button-primary-outlined-bg-color-hover);
        border: 1px solid #3F3CE3;
      }
      .text {
        color: var(--button-primary-outlined-color);
      }
    }

    &.ant-btn-variant-link {
      display: block;
      padding: 0 !important;
      height: auto;
      &:hover, &:focus {
        .text {
          color: var(--button-primary-link-color-hover);
        }
      }
      .text {
        color: var(--button-primary-link-color);
      }
    }
  }

  // default
  &.ant-btn-color-default {
    &.ant-btn-variant-solid {
      background-color: var(--button-secondary-bg-color);
      &:hover, &:focus {
        background-color: var(--button-secondary-bg-color-hover);
      }

      .text {
        color: var(--button-secondary-color);
      }
    }
  }

  // warning
  &.ant-btn-color-orange {
    &.ant-btn-variant-solid {
      background-color: var(--button-warning-bg-color);
      &:hover, &:focus {
        background-color: var(--button-warning-bg-color-hover);
      }

      .text {
        color: var(--button-warning-color);
      }
    }
  }
}
