.button--primary {
  background-color: var(--button-primary-bg-color);
  &:hover, &:focus {
    background-color: var(--button-primary-bg-color-hover);
  }

  .text {
    color: var(--button-primary-color);
  }
}

.button--secondary {
  background-color: var(--button-secondary-bg-color);
  &:hover, &:focus {
    background-color: var(--button-secondary-bg-color-hover);
  }

  .text {
    color: var(--button-secondary-color);
  }
}

.button--warning {
  background-color: var(--button-warning-bg-color);
  &:hover, &:focus {
    background-color: var(--button-warning-bg-color-hover);
  }

  .text {
    color: var(--button-warning-color);
  }
}

.button--danger {
  background-color: var(--button-danger-bg-color);

  &:hover, &:focus {
    background-color: var(--button-danger-bg-color-hover);
  }
}
