.ant-checkbox-wrapper {
  .ant-checkbox {
    &.ant-checkbox-checked {
      .ant-checkbox-inner {
        background-color: var(--white) !important;
        width: 24px;
        height: 24px;
        &:after {
          border-color: var(--black);
          left: 8px;
        }
      }
    }
    .ant-checkbox-inner {
      background-color: var(--white);
      border-radius: 2px;
      width: 24px;
      height: 24px;
    }
  }
}
