[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e900";
}
.icon-paper-plane:before {
  content: "\e901";
}
.icon-fire:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-vk:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-mark:before {
  content: "\e909";
}
.icon-mark-full:before {
  content: "\e90a";
}
.icon-city:before {
  content: "\e90b";
}
.icon-location:before {
  content: "\e90c";
}