.footer {
  background-color: var(--footer-bg-color);
  padding: 58px 25px 37px;
}

.footer__logo {
  display: block;
  margin-bottom: 47px;
}
.footer__logo-image {
  display: block;
  margin: 0 auto;
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 14px;
  .footer__nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    &:nth-child(2) {
      margin-left: 16px;
    }
  }
  .footer__nav-title {
    color: var(--white_60);
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 30px;
    text-transform: uppercase;

  }
  .footer__nav-link {
    color: var(--white_90);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 19px;
    text-decoration: none;
    transition: color .3s;
    white-space: nowrap;
    &:hover {
      color: var(--white_67);
    }
  }
}

.footer__callback {
  padding-top: 8px;
  margin-bottom: 49px;
  margin-left: 14px;
  .footer__title {
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 18px;
  }
  .footer__callback-form{
    display: grid;
    grid-template-columns: 1fr 53px;
    gap: 15px;
    padding-left: 4px;
    padding-right: 11px;
  }
  .footer__callback-field {
    .input {
      background-color: var(--white_0);
      border-color: var(--white_0);
      border-bottom: 2px solid var(--blue);
      border-radius: 0;
      box-shadow: none;
      color: var(--white);
      padding: 0;
      width: 100%;
      height: 40px;
      &:hover, &:focus {
        box-shadow: none;
      }
      &::placeholder {
        color: var(--white);
        opacity: 1;
      }

      &::-moz-placeholder {
        color: var(--white);
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: var(--white);
      }

      &::-webkit-input-placeholder {
        color: var(--white);
      }
    }
  }
  .footer__callback-buttons {
    padding-top: 1px;
    .button--callback {
      border-radius: 4px;
      width: 53px;
      height: 40px;
      .icon {
        font-size: 21px;
      }
    }
  }
}

.footer__social {
  padding-left: 19px;
  margin-bottom: 44px;
  .footer__title {
    color: var(--white);
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 18px;
  }
  .footer__social-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-left: -16px;
  }
  .footer__social-nav-link {
    background-color: var(--white);
    border-radius: 50%;
    display: block;
    width: 39px;
    height: 39px;
    line-height: 39px;
    text-align: center;
    text-decoration: none;
    .icon {
      color: var(--black);
      font-size: 16px;
    }
  }
}

.footer__copyright {
  padding-top: 31px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    right: 10px;
    background-color: rgba(196, 196, 196, 0.1);
    height: 1px;
  }
  .paragraph {
    color: var(--white_40);
    font-size: 10px;
    font-weight: 500;
    line-height: 1.51;
    text-align: center;
  }
}