* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--text-color);
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.title {
  font-family: Geometria, sans-serif;
}

.input {
  width: 100%;

  &::placeholder {
    font-family: Geometria, sans-serif;
  }
}

.select {
  font-family: Geometria, sans-serif;
  width: 100%;
}
