* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

ul {
  list-style-type: none;
}

.title, .text {
  font-family: Geometria, sans-serif !important;
}

.input {
  width: 100%;

  &::placeholder {
    font-family: Geometria, sans-serif;
  }
}

.select {
  font-family: Geometria, sans-serif;
  width: 100%;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.truncate-multiline {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}