.header {
  background-color: var(--header-bg-color);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  min-height: 52px;

  @media (min-width: 900px) {
    min-height: 84px;
  }
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 17px;

  @media (min-width: 900px) {
    padding: 0 68px;
  }
}