@use 'variables';
@use 'globals';
@use 'mixins';
@use 'fonts';

@use 'antd/button';
@use 'antd/checkbox';

@use 'shared/locale_switcher';
@use 'shared/theme_switcher';
@use 'shared/stepper';

@use 'page';
@use 'header';
@use 'footer';
@use 'section';
@use 'section_main';
@use 'section_vacancies';
@use 'section_cities';
@use 'section_relocation';
@use 'section_blog';
@use 'section_subscription';
@use 'section_about_us';
