.section--subscription {
  background-color: var(--blue);
  padding: 60px 0;
  min-height: 425px;
  @media (min-width: 900px) {
    min-height: 374px;
    padding-top: 69px;
    padding-bottom: 69px;
  }
  @media (min-width: 1280px) {
    min-height: 288px;
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .section__wrapper {
    padding: 0 16px;
    @media (min-width: 1280px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      padding: 0 15px;
    }
  }
  .section__header {
    padding-bottom: 8px;
    @media (min-width: 900px) {
      padding-bottom: 15px;
    }
    @media (min-width: 1280px) {
      padding-bottom: 0;
    }
  }
  .section__title {
    color: var(--white);
    font-size: 22px;
    font-weight: 700;
    line-height: 1.26;
    text-align: center;
    max-width: 320px;
    margin: -3px auto 18px;
    @media (min-width: 900px) {
      font-size: 30px;
      line-height: 1.26;
      max-width: 500px;
      margin-bottom: 10px;
    }
    @media (min-width: 1280px) {
      font-size: 29px;
      text-align: left;
      margin-bottom: 12px;
    }
    @media (min-width: 1920px) {
      font-size: 31px;
      line-height: 1;
    }
  }
  .section__description {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.48;
    text-align: center;
    @media (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.18;
      text-align: left;
      margin: 0;
    }
  }
  .subscription__form {
    @media (min-width: 900px) {
      display: grid;
      grid-template-columns: 435px 169px;
      gap: 23px;
      max-width: 628px;
      padding-left: 1px;
      margin: 0 auto;
    }
    @media (min-width: 1280px) {
      grid-template-columns: 279px 169px;
      gap: 12px;
      padding-top: 18px;
      margin: 0;
      max-width: 460px;
    }
  }
  .subscription__field {
    &:last-child {
      text-align: center;
      @media (min-width: 900px) {
        text-align: left;
        grid-column: 1 / 3;
        margin-top: -3px;
      }
      @media (min-width: 1280px) {
        margin-top: -5px;
      }
    }
    .input {
      border-radius: 4px;
      height: 54px;
      padding: 0 24px;
      @media (min-width: 1280px) {
        padding: 0 30px;
      }
    }
    .checkbox {
      max-width: 270px;
      @media (min-width: 900px) {
        max-width: inherit;
      }
      &.ant-checkbox-wrapper {
        line-height: 1 !important;
      }
      .ant-checkbox-label {
        text-align: left;
        padding: 0 15px !important;
        @media (min-width: 900px) {
          padding-top: 5px !important;
        }
        .text {
          color: var(--white);
          font-size: 12px;
          font-weight: 400;
          line-height: 1.1;
        }
      }
    }
  }
  .subscription__button {
    padding-top: 16px;
    padding-bottom: 8px;
    text-align: center;
    @media (min-width: 900px) {
      padding: 0;
    }
    .button-submit {
      background-color: var(--yellow);
      border-radius: 5px;
      width: 200px;
      height: 54px;
      &:hover, &:focus {
        background-color: var(--yellow);
      }
      @media (min-width: 900px) {
        width: 100%;
      }
      .text {
        color: #292828;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.18;
        text-transform: uppercase;
      }
    }
  }
}
