.section--blog {
  padding-top: 60px;
  padding-bottom: 60px;
  @media (min-width: 900px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .section__wrapper {
    @media (min-width: 900px) {
      padding: 0 58px;
    }
  }
  .section__header {
    padding-bottom: 8px;
    @media (min-width: 900px) {
      padding-bottom: 20px;
    }
  }
  .section__title {
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    text-indent: 1px;
    text-align: center;
    margin-bottom: 10px !important;
    @media (min-width: 900px) {
      font-size: 30px;
      text-indent: 0;
      padding-left: 9px;
      margin-bottom: 5px !important;
    }
  }
  .section__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.45;
    display: block;
    margin: 0 auto;
    max-width: 252px;
    text-align: center;
    margin-bottom: 13px !important;
    @media (min-width: 900px) {
      max-width: inherit;
      padding-left: 9px;
      margin-bottom: 0 !important;
    }
    @media (min-width: 1280px) {
      font-size: 16px;
    }
    @media (min-width: 1920px) {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.15;
    }
  }
  .section__buttons {
    padding-left: 9px;
  }
}

.blog {
  .blog__article {
    box-shadow: 0 4px 13px 0 var(--black_12);
    border-radius: 5px;
    display: none;
    &--active {
      display: block;
    }
    @media (min-width: 900px) {
      display: block;
      padding: 0;
      min-height: 346px;
      min-width: calc(50% - 10px);
    }
  }
  .blog__picture {
    display: block;
  }
  .blog__image {
    display: block;
    width: 100%;
  }
  .blog__content {
    padding: 17px 25px 23px 28px;
    @media (min-width: 900px) {
      padding: 17px 29px 23px 35px;
    }
  }
  .blog__header {
    padding-bottom: 11px;
    position: relative;
    @media (min-width: 900px) {
      padding-bottom: 13px;
    }
    .icon-mark {
      color: #A5A5A5;
      font-size: 19px;
      position: absolute;
      top: 1px;
      right: 0;
    }
    .blog__text {
      color: #323232;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.76;
      text-transform: uppercase;
      @media (min-width: 900px) {
        font-size: 12px;
      }
      @media (min-width: 1920px) {
        font-size: 12px;
      }
    }
  }
  .blog__description {
    .blog__title {
      color: #4132E5;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.32;
      margin-bottom: 14px;
      padding-left: 1px;
      @media (min-width: 900px) {
        margin-bottom: 8px;
      }
      @media (min-width: 1920px) {
        font-size: 18px;
      }
    }
    .blog__text {
      color: #292828;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.4;
      margin-bottom: 20px;
      padding-left: 1px;
      @media (min-width: 900px) {
        margin-bottom: 26px;
      }
      @media (min-width: 1920px) {
        font-size: 14px;
        line-height: 1.1;
      }
    }
  }
  .blog__footer {
    display: flex;
    justify-content: space-between;
    .blog__text {
      color: #AEAEAE;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.76;
      text-indent: 1px;
    }
    .blog__link {
      margin-right: 1px;
      text-decoration: none;
      @media (min-width: 900px) {
        margin-right: 8px;
      }
      .text {
        color: var(--blue);
        font-size: 12px;
        font-weight: 400;
        line-height: 1;
      }
    }
  }
}
