.section {
  .section__wrapper {
    padding: 0 15px;
    position: relative;
    z-index: 1;
    @media (min-width: 900px) {
      margin: 0 auto;
      max-width: 794px;
    }
    @media (min-width: 1280px) {
      max-width: 970px;
    }
    @media (min-width: 1920px) {
      max-width: 1200;
    }
  }

  .section__buttons {
    text-align: center;
    .button-find-more {
      background-color: var(--white_0);
      border: 1px solid #817BEC;
      border-radius: 2px;
      min-width: 252px;
      height: 48px;
      &:hover, &:focus, &:active {
        background-color: var(--white_0);
        border: 1px solid #817BEC;
      }
      .text {
        color: #4132E5;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.18;
      }
    }
  }
}