.section--vacancies {
  background-color: var(--grey-light);
  padding-bottom: 30px;
  position: relative;
  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 331px;
  }
  &:before {
    background: linear-gradient(90deg, var(--blue) 0%, var(--purple) 100%);
  }
  &:after {
    background-position: center;
    background-image: url("/images/sm/bg-section-vacancies@1x.png");
    background-image: -webkit-image-set(
      url("/images/sm/bg-section-vacancies@1x.png") type("image/png") 1x,
      url("/images/sm/bg-section-vacancies@2x.png") type("image/png") 2x
    );
    background-image: image-set(
      url("/images/sm/bg-section-vacancies@1x.png") type("image/png") 1x,
      url("/images/sm/bg-section-vacancies@2x.png") type("image/png") 2x
    );
    @media (min-width: 900px) {
      background-image: url("/images/md/bg-section-vacancies@1x.png");
      background-image: -webkit-image-set(
        url("/images/md/bg-section-vacancies@1x.png") type("image/png") 1x,
        url("/images/md/bg-section-vacancies@2x.png") type("image/png") 2x
      );
      background-image: image-set(
        url("/images/md/bg-section-vacancies@1x.png") type("image/png") 1x,
        url("/images/md/bg-section-vacancies@2x.png") type("image/png") 2x
      );
    }
    @media (min-width: 1280px) {
      background-image: url("/images/lg/bg-section-vacancies@1x.png");
      background-image: -webkit-image-set(
        url("/images/lg/bg-section-vacancies@1x.png") type("image/png") 1x,
        url("/images/lg/bg-section-vacancies@2x.png") type("image/png") 2x
      );
      background-image: image-set(
        url("/images/lg/bg-section-vacancies@1x.png") type("image/png") 1x,
        url("/images/lg/bg-section-vacancies@2x.png") type("image/png") 2x
      );
    }
    @media (min-width: 1920px) {
      background-image: url("/images/xl/bg-section-vacancies@1x.png");
      background-image: -webkit-image-set(
        url("/images/xl/bg-section-vacancies@1x.png") type("image/png") 1x,
        url("/images/xl/bg-section-vacancies@2x.png") type("image/png") 2x
      );
      background-image: image-set(
        url("/images/xl/bg-section-vacancies@1x.png") type("image/png") 1x,
        url("/images/xl/bg-section-vacancies@2x.png") type("image/png") 2x
      );
    }
  }
  .section__header {
    padding-top: 54px;
    @media (min-width: 900px) {
      padding-top: 58px;
    }
    @media (min-width: 1280px) {
      padding-top: 69px;
    }
    @media (min-width: 1920px) {
      padding-top: 91px;
    }
  }
  .section__title {
    color: var(--white);
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-indent: 1px;
    margin-bottom: 13px;
    @media (min-width: 900px) {
      margin-bottom: 15px;
    }
    @media (min-width: 1920px) {
      margin-bottom: 14px;
    }
  }
  .section__description {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.33;
    max-width: 310px;
    display: inline-block;
    text-indent: 3px;
    margin: 0 auto 28px;
    text-align: center;
    @media (min-width: 900px) {
      display: block;
      font-size: 16px;
      line-height: 1.45;
      max-width: inherit;
      text-indent: 7px;
      margin-bottom: 35px;
    }
    @media (min-width: 1280px) {
      display: block;
      margin-bottom: 36px;
    }
    @media (min-width: 1920px) {
      font-size: 18px;
      padding-right: 2px;
      margin-bottom: 32px;
    }
  }
  .section__buttons {
    margin-bottom: 20px;
    text-align: center;
  }

  .tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 18px;
    @media (min-width: 900px) {
      justify-content: flex-start;
      margin-bottom: 25px;
    }
    @media (min-width: 1920px) {
      gap: 20px;
      margin-bottom: 22px;
    }

    .button--tab {
      border-radius: 4px;
      min-width: 101px;
      height: 32px;
      @media (min-width: 1920px) {
        min-width: 127px;
        height: 36px;
      }

      .text {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.48;
        padding-top: 3px;
        @media (min-width: 1920px) {
          font-size: 14px;
          line-height: 1.18;
          padding-top: 0;
        }
      }
    }

    .button--hot {
      gap: 6px;
      justify-content: flex-start;
      padding-left: 13px;
      &:before {
        content: "";
        position: absolute;
        top: calc(100% + 1px);
        left: 16px;
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-left-width: 3px;
        border-right-width: 3px;
        border-top: 4px solid var(--orange);
        @media (min-width: 1920px) {
          left: 20px;
          border-left-width: 4px;
          border-right-width: 4px;
          border-top: 5px solid var(--orange);
        }
      }
      @media (min-width: 1920px) {
        gap: 8px;
        padding-left: 17px;
      }
      .icon {
        font-size: 12px;
        @media (min-width: 1920px) {
          font-size: 14px;
        }
      }
      .text {
        @media (min-width: 1920px) {
          padding-top: 2px;
        }
      }
    }
  }

  .section__buttons {
    @media (min-width: 900px) {
      padding-left: 7px;
    }
    @media (min-width: 1280px) {
      padding-left: 0;
    }
    .button-find-more {
      .text {
        @media (min-width: 900px) {
          padding-top: 2px;
          text-indent: 1px;
        }
        @media (min-width: 1280px) {
          padding-top: 0;
          text-indent: 0;
        }
      }
    }
  }
}
// vacancies
.vacancies {
  display: grid;
  gap: 14px;
  margin-bottom: 20px;
  @media (min-width: 900px) {
    gap: 20px;
  }
  @media (min-width: 1280px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 30px;
  }
  @media (min-width: 1920px) {
    margin-bottom: 29px;
  }
}
// article
.vacancies__article {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0 4px 22px 0 var(--box-shadow);
  padding: 20px 21px 23px;
  position: relative;
  &:hover {
    box-shadow: 0 4px 22px 0 var(--box-shadow-hover);
  }
  @media (min-width: 900px) {
    padding: 30px 24px 23px 21px;
    min-height: 191px;
  }
  @media (min-width: 1920px) {
    padding: 34px 29px 25px 30px;
    min-height: 191px;
  }
  .icon-mark, .icon-mark-full {
    position: absolute;
    top: 30px;
    right: 20px;
    @media (min-width: 900px) {
      right: 30px;
    }
    @media (min-width: 1280px) {
      right: 24px;
    }
    @media (min-width: 1920px) {
      top: 34px;
      right: 29px;
    }
    &:before {
      font-size: 22px;
      @media (min-width: 900px) {
        font-size: 18px;
      }
      @media (min-width: 1280px) {
        font-size: 17px;
      }
    }
  }
  .icon-mark {
    color: #C4C4C4;
  }
  .icon-mark-full {
    color: var(--blue);
  }
}
// article - header
.vacancies__header {
  display: grid;
  grid-template-columns: 37px auto;
  gap: 8px 15px;
  margin-bottom: 10px;
  @media (min-width: 900px) {
    gap: 0 15px;
  }
  @media (min-width: 1920px) {
    grid-template-columns: 49px auto;
    margin-bottom: 13px;
  }
  // article - header - image
  .vacancies__picture {
    display: block;
    overflow: hidden;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    @media (min-width: 1920px) {
      width: 49px;
      height: 49px;
    }
    .vacancies__image {
      display: block;
      @media (min-width: 1920px) {
        width: 49px !important;
        height: 49px !important;
      }
    }
  }
  // article - header - title
  .vacancies__title {
    color: #3a3a3a;
    font-size: 14px;
    font-weight: 700;
    line-height: 146%;
    padding-top: 4px;
    padding-right: 25px;
    margin: 0;
    @media (min-width: 900px) {
      padding-top: 3px;
    }
    @media (min-width: 1920px) {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.18;
      padding-top: 0;
    }
  }
}
// article - list
.vacancies__list {
  grid-column: 1 / 3;
  @media (min-width: 900px) {
    grid-column: 2 / 3;
    display: flex;
    gap: 22px;
    margin-top: -6px;
    margin-left: -2px;
    margin-bottom: 8px;
  }
  @media (min-width: 1280px) {
    gap: 14px;
    margin-top: -10px;
    margin-bottom: 0;
  }
  @media (min-width: 1920px) {
    margin-top: -28px;
    margin-left: 0;
  }
}
.vacancies__item {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  
  .icon {
    color: #AEAEAE;
    margin-right: 8px;
    @media (min-width: 1280px) {
      margin-top: -1px;
    }
    &.icon-city {
      padding-top: 3px;
      @media (min-width: 1920px) {
        padding-top: 1px;
        margin-left: -1px;
      }
      &:before {
        font-size: 14px;
        margin-left: 2px;
      }
    }
    &.icon-location {
      @media (min-width: 1920px) {
        padding-top: 3px;
      }
      &:before {
        font-size: 15px;
        margin-left: 4px;
      }
    }
  }
}
.vacancies__item-text {
  color: #373737;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.38;
  padding-top: 5px;
  @media (min-width: 1920px) {
    font-size: 13px;
  }
}
// article - description
.vacancies__description {
  color: #474747;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.51;
  @media (min-width: 900px) {
    padding-left: 52px;
  }
  @media (min-width: 1920px) {
    padding-left: 65px;
  }
}
// article - text
.vacancies__text {
  color: #474747;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.51;
  margin: 0 !important;
  @media (min-width: 900px) {
    display: block;
    max-width: 542px;
  }
  @media (min-width: 1280px) {
    display: -webkit-box;
    max-width: inherit;
    margin-bottom: 10px;
  }
  @media (min-width: 1920px) {
    font-size: 13px;
    max-width: 325px;
  }
}
// article - button
.vacancies__buttons {
  padding-top: 24px;
  text-align: right;
  @media (min-width: 900px) {
    padding-top: 1px;
  }
  @media (min-width: 1280px) {
    padding-top: 10px;
  }
  @media (min-width: 1920px) {
    padding-top: 0;
    margin-top: -4px;
  }
  .button-read-more {
    border-radius: 2px;
    padding: 0 10px;
    min-width: 96px;
    height: 28px;
    line-height: 28px;
    @media (min-width: 1920px) {
      min-width: 110px;
      height: 32px;
      line-height: 32px;
    }
    span {
      color: #4132E5;
      font-weight: 700;
      font-size: 11px;
      line-height: 1.76;
      margin-top: 3px;
      text-transform: uppercase;
      @media (min-width: 900px) {
        color: #3F3CE3;
      }
    }
  }
}