.section--vacancies {
  background-color: var(--grey-light);
  padding: 0 15px 30px;
  position: relative;
  @media (min-width: 900px) {
    padding: 0 68px 30px;
  }
  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 331px;
  }
  &:before {
    background: linear-gradient(90deg, var(--blue) 0%, var(--purple) 100%);
  }
  &:after {
    background-position: center;
    background-image: url("/images/sm/bg-section-vacancies@1x.png");
    background-image: -webkit-image-set(
      url("/images/sm/bg-section-vacancies@1x.png") type("image/png") 1x,
      url("/images/sm/bg-section-vacancies@2x.png") type("image/png") 2x
    );
    background-image: image-set(
      url("/images/sm/bg-section-vacancies@1x.png") type("image/png") 1x,
      url("/images/sm/bg-section-vacancies@2x.png") type("image/png") 2x
    );
    @media (min-width: 900px) {
      background-image: url("/images/md/bg-section-vacancies@1x.png");
      background-image: -webkit-image-set(
        url("/images/md/bg-section-vacancies@1x.png") type("image/png") 1x,
        url("/images/md/bg-section-vacancies@2x.png") type("image/png") 2x
      );
      background-image: image-set(
        url("/images/md/bg-section-vacancies@1x.png") type("image/png") 1x,
        url("/images/md/bg-section-vacancies@2x.png") type("image/png") 2x
      );
    }
  }

  .section__wrapper {
    position: relative;
    z-index: 1;
  }
  .section__header {
    padding-top: 54px;
    @media (min-width: 900px) {
      padding-top: 58px;
    }
  }
  .section__title {
    color: var(--white);
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-indent: 1px;
    margin-bottom: 13px;
    @media (min-width: 900px) {
      margin-bottom: 15px;
    }
  }
  .section__description {
    margin-bottom: 28px;
    text-align: center;
    @media (min-width: 900px) {
      margin-bottom: 35px;
    }
  }
  .section__text {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.33;
    max-width: 310px;
    display: inline-block;
    text-indent: 3px;
    @media (min-width: 900px) {
      font-size: 16px;
      line-height: 1.45;
      max-width: inherit;
      text-indent: 7px;
    }
    @media (min-width: 1920px) {
      font-size: 18px;
      line-height: 1.15;
    }
  }
  .section__buttons {
    margin-bottom: 20px;
    text-align: center;
  }

  .tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 18px;
    @media (min-width: 900px) {
      justify-content: flex-start;
      margin-bottom: 25px;
    }

    .button--tab {
      border-radius: 4px;
      width: 101px;
      height: 32px;

      .text {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.48;
        padding-top: 3px;
        @media (min-width: 1920px) {
          font-size: 14px;
          line-height: 1.18;
        }
      }
    }

    .button--hot {
      gap: 6px;
      justify-content: flex-start;
      padding-left: 13px;
      &:before {
        content: "";
        position: absolute;
        top: calc(100% + 1px);
        left: 16px;
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-left-width: 3px;
        border-right-width: 3px;
        border-top: 4px solid var(--orange);
      }
      .icon {
        font-size: 12px;
      }
    }
  }

  .section__buttons {
    @media (min-width: 900px) {
      padding-left: 7px;
    }
    .button-find-more {
      .text {
        @media (min-width: 900px) {
          font-size: 14px;
          padding-top: 2px;
          text-indent: 1px;
        }
      }
    }
  }
}

.vacancies {
  display: grid;
  gap: 14px;
  margin-bottom: 20px;
  @media (min-width: 900px) {
    gap: 20px;
  }
  .vacancies__article {
    background-color: var(--white);
    border-radius: 4px;
    box-shadow: 0 4px 22px 0 var(--box-shadow);
    padding: 20px 21px 23px;
    position: relative;
    @media (min-width: 900px) {
      padding: 30px 24px 23px 21px;
      min-height: 191px;
    }
  }
  .vacancies__header {
    display: grid;
    grid-template-columns: 37px auto;
    gap: 15px;
    margin-bottom: 8px;
    .icon {
      position: absolute;
      top: 30px;
      right: 20px;
      @media (min-width: 900px) {
        right: 30px;
      }
      &:before {
        font-size: 22px;
        @media (min-width: 900px) {
          font-size: 18px;
        }
      }
      &.icon-mark {
        color: #C4C4C4;
      }
      &.icon-mark-full {
        color: var(--blue);
      }
    }
  }
  .vacancies__picture {
    display: block;
    overflow: hidden;
    border-radius: 50%;
    width: 37px;
    height: 37px;
  }
  .vacancies__image {
    display: block;
  }
  .vacancies__title {
    color: #3a3a3a;
    font-size: 14px;
    font-weight: 700;
    line-height: 146%;
    padding-top: 4px;
    padding-right: 25px;
    margin: 0;
    @media (min-width: 900px) {
      padding-top: 3px;
    }
    @media (min-width: 1920px) {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.18;
    }
  }
  .vacancies__description {
    color: #474747;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.51;
    @media (min-width: 900px) {
      padding-left: 52px;
    }
  }
  .vacancies__list {
    margin-bottom: 10px;
    @media (min-width: 900px) {
      display: flex;
      gap: 22px;
      margin-top: -13px;
      margin-left: -2px;
      margin-bottom: 18px;
    }
  }
  .vacancies__item {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    
    .icon {
      color: #AEAEAE;
      margin-right: 8px;
      &.icon-city {
          padding-top: 3px;
        &:before {
          font-size: 14px;
          margin-left: 2px;
        }
      }
      &.icon-location {
        &:before {
          font-size: 15px;
          margin-left: 4px;
        }
      }
    }
  }
  .vacancies__item-text {
    color: #373737;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.38;
    padding-top: 3px;
    @media (min-width: 1920px) {
      font-size: 13px;
    }
  }
  .vacancies__text {
    color: #474747;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.51;
    @media (min-width: 900px) {
      display: block;
      max-width: 542px;
    }
    @media (min-width: 1920px) {
      font-size: 13px;
      line-height: 1.2;
    }
  }
  .vacancies__buttons {
    padding-top: 24px;
    text-align: right;
    @media (min-width: 900px) {
      padding-top: 1px;
    }
    .button-read-more {
      border-radius: 2px;
      padding: 0 10px;
      min-width: 96px;
      height: 28px;
      line-height: 28px;
      span {
        color: #4132E5;
        font-weight: 700;
        font-size: 11px;
        line-height: 1.76;
        margin-top: 3px;
        text-transform: uppercase;
        @media (min-width: 900px) {
          color: #3F3CE3;
        }
      }
    }
  }
}
