.section--relocation {
  background-color: var(--grey-light);
  padding-top: 30px;
  padding-bottom: 60px;
  position: relative;
  @media (min-width: 900px) {
    padding-top: 49px;
    padding-bottom: 69px;
  }
  @media (min-width: 1280px) {
    padding-top: 44px;
    padding-bottom: 70px;
    min-height: 650px;
  }
  &:before {
    content: '';
    background-color: var(--blue);
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 334px;
  }
  .section__header {
    padding-top: 23px;
    padding-bottom: 8px;
    @media (min-width: 900px) {
      padding-bottom: 49px;
    }
  }
  .section__title {
    color: var(--white);
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 16px;
    text-indent: 4px;
    text-align: center;
    @media (min-width: 900px) {
      font-size: 30px;
      text-indent: -1px;
      margin-bottom: 20px;
    }
    @media (min-width: 1280px) {
      text-indent: 0;
      margin-bottom: 25px;
    }
  }
  .section__description {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.44;
    margin-bottom: 16px;
    text-align: center;
    @media (min-width: 900px) {
      font-size: 16px;
      max-width: 612px;
      margin: 0 auto;
    }
  }
  .section__buttons {
    padding-left: 1px;
    .button-find-more {
      .text {
        @media (min-width: 900px) {
          padding-left: 2px;
        }
      }
    }
  }
}

.relocation {
  padding-bottom: 29px;
  @media (min-width: 900px) {
    padding-bottom: 0;
  }
}
.relocation__wrapper {
  padding-bottom: 21px;
  @media (min-width: 900px) {
    display: grid;
    gap: 20px;
    padding-bottom: 20px;
  }
  @media (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 40px;
  }
}
.relocation__article {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 4px 23px 0 var(--black_07);
  display: none;
  padding-top: 28px;
  padding-bottom: 16px;
  &--active {
    display: block;
  }
  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: 29% 1fr;
    gap: 20px;
    padding: 38px;
    min-height: 159px;
  }
  @media (min-width: 1280px) {
    display: block;
    padding: 39px 26px;
    min-height: 274px;
  }
}
.relocation__title {
  color: #3A3A3A !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  line-height: 1.24 !important;
  margin: 0 auto !important;
  max-width: 220px;
  text-align: center;
  @media (min-width: 900px) {
    font-size: 16px !important;
    line-height: 1.32 !important;
    padding-top: 1px;
    max-width: inherit;
    text-align: left;
  }
}
.relocation__nav {
  padding-top: 21px;
  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2px;
    gap: 4px;
  }
  @media (min-width: 1280px) {
    display: block;
    padding-top: 23px;
  }
}
.relocation__nav-link {
  background-color: var(--white);
  color: rgba(68, 68, 68, .8);
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
  height: 48px;
  transition: .3s;
  padding-left: 52px;
  padding-right: 15px;
  text-decoration: none;
  &:hover, &:focus, &:active {
    background-color: #F4F3FF;
    color: var(--blue);
    font-weight: 500;
    text-decoration: underline;
  }
  @media (min-width: 900px) {
    background-color: var(--white_0);
    padding: 0;
    padding-left: 20px;
    height: auto;
    line-height: 1.3;
    position: relative;
    transition: all .3s;
    &:hover, &:focus, &:active {
      background-color: var(--white_0);
      text-decoration: underline;
      &:before {
        background-color: var(--blue);
      }
    }
    &:before {
      content: '';
      background-color: rgba(65, 65, 65, 0.23);
      border-radius: 50%;
      position: absolute;
      top: 5px;
      left: 3px;
      width: 4px;
      height: 4px;
      transition: all .3s;
    }
  }
  @media (min-width: 1280px) {
    padding-left: 19px;
    margin-bottom: 18px;
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      top: 7px;
      left: 0;
    }
  }
}
