.section--about-us {
  background-color: var(--grey-light);
  padding-top: 60px;
  padding-bottom: 60px;
  @media (min-width: 900px) {
    padding-top: 74px;
    padding-bottom: 70px;
  }
  .section__wrapper {
    @media (min-width: 900px) {
      padding: 0 58px;
    }
  }
  .section__header {
    padding-bottom: 8px;
    @media (min-width: 900px) {
      padding-bottom: 14px;
    }
  }
  .section__title {
    color: #3A3A3A;
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 16px;
    text-align: center;
    text-indent: 1px;
    @media (min-width: 900px) {
      font-size: 30px;
      text-indent: 0;
      margin-bottom: 0;
    }
  }
}

.about-us__wrapper {
  @media (min-width: 900px) {
    padding-bottom: 21px;
  }
}
.about-us__article {
  background-color: var(--white);
  box-shadow: 0 4px 13px 0 var(--black_12);
  border-radius: 5px;
  padding: 37px 30px 35px;
  display: none;
  &--active {
    display: block;
  }
  @media (min-width: 900px) {
    display: block;
    padding: 37px 45px 35px;
    min-height: 262px;
    min-width: calc(50% - 10px);
  }
}
.about-us__header {
  display: grid;
  grid-template-columns: 39px auto;
  gap: 17px;
  margin-bottom: 22px;
}
.about-us__picture {
  display: block;
  overflow: hidden;
  border-radius: 50%;
  width: 39px;
  height: 39px;
}
.about-us__image {
  display: block;
}
.about-us__content {
  padding-top: 6px;
}
.about-us__title {
  color: #292828 !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  line-height: 1 !important;
  margin-bottom: 0 !important;
}
.about-us__position {
  color: #7B7B7B;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
}
.about-us__description {
  color: #292828;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.76;
  -webkit-line-clamp: 4 !important;
  margin-bottom: 23px !important;
  @media (min-width: 900px) {
    font-size: 13px;
    line-height: 1.8;
    margin-bottom: 15px !important;
  }
}
.about-us__buttons {
  .button-read-more {
    .text {
      color: #4132E5;
      font-size: 13px;
      font-weight: 400;
      line-height: 1.4;
    }
  }
}
