.section--vacancies {
  background-color: var(--grey-light);
  padding: 0 15px;
  position: relative;
  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 331px;
  }
  &:before {
    background: linear-gradient(90deg, var(--blue) 0%, var(--purple) 100%);
  }
  &:after {
    background-position: center;
    background-image: url("/images/sm/bg-section-vacancies@1x.png");
    background-image: -webkit-image-set(
      url("/images/sm/bg-section-vacancies@1x.png") type("image/png") 1x,
      url("/images/sm/bg-section-vacancies@2x.png") type("image/png") 2x
    );
    background-image: image-set(
      url("/images/sm/bg-section-vacancies@1x.png") type("image/png") 1x,
      url("/images/sm/bg-section-vacancies@2x.png") type("image/png") 2x
    );
  }

  .section__wrapper {
    position: relative;
    z-index: 1;
  }
  .section__header {
    padding-top: 54px;
  }
  .section__title {
    color: var(--white);
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-indent: 1px;
    margin-bottom:13px;
  }
  .section__description {
    margin-bottom: 28px;
    text-align: center;
  }
  .section__text {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.33;
    max-width: 310px;
    display: inline-block;
    text-indent: 3px;
  }
  .section__buttons {
    margin-bottom: 18px;
  }

  .tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 18px;

    .button--tab {
      border-radius: 4px;
      width: 101px;
      height: 32px;

      .text {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.48;
        padding-top: 3px;
      }
    }

    .button--hot {
      gap: 6px;
      justify-content: flex-start;
      padding-left: 13px;
      .icon {
        font-size: 12px;
      }
    }
  }
}

.vacancies {
  .vacancies__article {
    background-color: var(--white);
    border-radius: 4px;
    box-shadow: 0 4px 22px 0 var(--box-shadow);
    padding: 21px;
  }
  .vacancies__header {}
  .vacancies__picture {}
  .vacancies__image {}
  .vacancies__title {}
  .vacancies__description {}
  .vacancies__list {}
  .vacancies__item {}
  .vacancies__text {}
  .vacancies__buttons {}
}
