.section--main {
  padding-top: 148px;
  padding-bottom: 99px;
  position: relative;
  min-height: 600px;
  @media (min-width: 900px) {
    padding-top: 137px;
    padding-bottom: 144px;
    min-height: 512px;
  }
  @media (min-width: 1280px) {
    padding-top: 166px;
    padding-bottom: 219px;
    min-height: 638px;
  }
  @media (min-width: 1920px) {
    padding-top: 160px;
    padding-bottom: 220px;
    min-height: 662px;
  }
  &:before, &:after {
    content: '';
    display: none;
    position: absolute;
    background-repeat: no-repeat;
    @media (min-width: 1280px) {
      display: block;
    }
  }
  &:before {
    @media (min-width: 1280px) {
      left: 0;
      bottom: 70px;
      width: 358px;
      height: 611px;
      background-size: 358px 611px;
      background-image: url("/images/lg/bg-section-america@1x.png");
      background-image: -webkit-image-set(
        url("/images/lg/bg-section-america@1x.png") type("image/png") 1x,
        url("/images/lg/bg-section-america@2x.png") type("image/png") 2x
      );
      background-image: image-set(
        url("/images/lg/bg-section-america@1x.png") type("image/png") 1x,
        url("/images/lg/bg-section-america@2x.png") type("image/png") 2x
      );
    }
    @media (min-width: 1920px) {
      left: 44px;
      bottom: 48px;
      width: 555px;
      height: 566px;
      background-size: 555px 566px;
      background-image: url("/images/xl/bg-section-america@1x.png");
      background-image: -webkit-image-set(
        url("/images/xl/bg-section-america@1x.png") type("image/png") 1x,
        url("/images/xl/bg-section-america@2x.png") type("image/png") 2x
      );
      background-image: image-set(
        url("/images/xl/bg-section-america@1x.png") type("image/png") 1x,
        url("/images/xl/bg-section-america@2x.png") type("image/png") 2x
      );
    }
  }
  &:after {
    @media (min-width: 1280px) {
      right: 0;
      bottom: 20px;
      width: 411px;
      height: 599px;
      background-size: 411px 599px;
      background-image: url("/images/lg/bg-section-europe@1x.png");
      background-image: -webkit-image-set(
        url("/images/lg/bg-section-europe@1x.png") type("image/png") 1x,
        url("/images/lg/bg-section-europe@2x.png") type("image/png") 2x
      );
      background-image: image-set(
        url("/images/lg/bg-section-europe@1x.png") type("image/png") 1x,
        url("/images/lg/bg-section-europe@2x.png") type("image/png") 2x
      );
    }
    @media (min-width: 1920px) {
      right: 1px;
      bottom: 2px;
      width: 629px;
      height: 597px;
      background-size: 629px 597px;
      background-image: url("/images/xl/bg-section-europe@1x.png");
      background-image: -webkit-image-set(
        url("/images/xl/bg-section-europe@1x.png") type("image/png") 1x,
        url("/images/xl/bg-section-europe@2x.png") type("image/png") 2x
      );
      background-image: image-set(
        url("/images/xl/bg-section-europe@1x.png") type("image/png") 1x,
        url("/images/xl/bg-section-europe@2x.png") type("image/png") 2x
      );
    }
  }

  .section__wrapper {
    position: relative;
    z-index: 10;
  }


  // Main Title
  .section__title {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    @media (min-width: 900px) {
      margin-bottom: 20px;
    }
    @media (min-width: 1280px) {
      margin-bottom: 28px;
    }
    @media (min-width: 1920px) {
      margin-bottom: 34px;
    }

    .section__title-line_1, .section__title-line_2 {
      font-size: 27px;
      font-weight: 700;
      line-height: 1.22;
      text-indent: -2px;
      text-align: center;
      @media (min-width: 900px) {
        font-size: 40px;
        line-height: 99%;
      }
      @media (min-width: 1280px) {
        font-size: 44px;
        line-height: 99%;
        text-indent: 0;
      }
      @media (min-width: 1920px) {
        font-size: 48px;
        line-height: 90%;
        text-indent: -17px;
      }
    }

    .section__title-line_1 {
      color: var(--blue);
      display: inline-block;
      position: relative;
      &:before, &:after {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
      }
      &:before {
        top: -72px;
        left: -9px;
        width: 145.33px;
        height: 59.01px;
        background-size: 145.33px 59.01px;
        background-image: url("/images/sm/bg-section-plane1x.png");
        background-image: -webkit-image-set(
          url("/images/sm/bg-section-plane1x.png") type("image/png") 1x,
          url("/images/sm/bg-section-plane2x.png") type("image/png") 2x
        );
        background-image: image-set(
          url("/images/sm/bg-section-plane1x.png") type("image/png") 1x,
          url("/images/sm/bg-section-plane2x.png") type("image/png") 2x
        );
        @media (min-width: 900px) {
          top: -35px;
          left: initial;
          right: -232px;
          width: 176.79px;
          height: 79px;
          background-size: 176.79px 79px;
          background-image: url("/images/md/bg-section-plane-right@1x.png");
          background-image: -webkit-image-set(
            url("/images/md/bg-section-plane-right@1x.png") type("image/png") 1x,
            url("/images/md/bg-section-plane-right@2x.png") type("image/png") 2x
          );
          background-image: image-set(
            url("/images/md/bg-section-plane-right@1x.png") type("image/png") 1x,
            url("/images/md/bg-section-plane-right@2x.png") type("image/png") 2x
          );
        }
        @media (min-width: 1280px) {
          top: 3px;
          right: -215px;
          width: 176.79px;
          height: 79px;
          background-size: 176.79px 79px;
          background-image: url("/images/lg/bg-section-plane-right@1x.png");
          background-image: -webkit-image-set(
            url("/images/lg/bg-section-plane-right@1x.png") type("image/png") 1x,
            url("/images/lg/bg-section-plane-right@2x.png") type("image/png") 2x
          );
          background-image: image-set(
            url("/images/lg/bg-section-plane-right@1x.png") type("image/png") 1x,
            url("/images/lg/bg-section-plane-right@2x.png") type("image/png") 2x
          );
        }
        @media (min-width: 1920px) {
          top: 19px;
          right: -219px;
          width: 176.79px;
          height: 79px;
          background-size: 176.79px 79px;
          background-image: url("/images/xl/bg-section-plane-right@1x.png");
          background-image: -webkit-image-set(
            url("/images/xl/bg-section-plane-right@1x.png") type("image/png") 1x,
            url("/images/xl/bg-section-plane-right@2x.png") type("image/png") 2x
          );
          background-image: image-set(
            url("/images/xl/bg-section-plane-right@1x.png") type("image/png") 1x,
            url("/images/xl/bg-section-plane-right@2x.png") type("image/png") 2x
          );
        }
      }
      &:after {
        top: -101px;
        right: -44px;
        width: 158px;
        height: 146px;
        background-size: 158px 146px;
        background-image: url("/images/sm/bg-section-man@1x.png");
        background-image: -webkit-image-set(
          url("/images/sm/bg-section-man@1x.png") type("image/png") 1x,
          url("/images/sm/bg-section-man@2x.png") type("image/png") 2x
        );
        background-image: image-set(
          url("/images/sm/bg-section-man@1x.png") type("image/png") 1x,
          url("/images/sm/bg-section-man@2x.png") type("image/png") 2x
        );
        @media (min-width: 900px) {
          top: -104px;
          right: -59px;
          background-image: url("/images/md/bg-section-man@1x.png");
          background-image: -webkit-image-set(
            url("/images/md/bg-section-man@1x.png") type("image/png") 1x,
            url("/images/md/bg-section-man@2x.png") type("image/png") 2x
          );
          background-image: image-set(
            url("/images/md/bg-section-man@1x.png") type("image/png") 1x,
            url("/images/md/bg-section-man@2x.png") type("image/png") 2x
          );
        }
        @media (min-width: 1280px) {
          top: -103px;
          right: -69px;
          background-image: url("/images/lg/bg-section-man@1x.png");
          background-image: -webkit-image-set(
            url("/images/lg/bg-section-man@1x.png") type("image/png") 1x,
            url("/images/lg/bg-section-man@2x.png") type("image/png") 2x
          );
          background-image: image-set(
            url("/images/lg/bg-section-man@1x.png") type("image/png") 1x,
            url("/images/lg/bg-section-man@2x.png") type("image/png") 2x
          );
        }
        @media (min-width: 1920px) {
          top: -105px;
          right: -68px;
          background-image: url("/images/xl/bg-section-man@1x.png");
          background-image: -webkit-image-set(
            url("/images/xl/bg-section-man@1x.png") type("image/png") 1x,
            url("/images/xl/bg-section-man@2x.png") type("image/png") 2x
          );
          background-image: image-set(
            url("/images/xl/bg-section-man@1x.png") type("image/png") 1x,
            url("/images/xl/bg-section-man@2x.png") type("image/png") 2x
          );
        }
      }

      .plane {
        display: none;
        @media (min-width: 900px) {
          display: block;
          position: absolute;
          top: -127px;
          left: -159px;
          z-index: -1;
          width: 388px;
          height: 160px;
          background-size: 388px 160px;
          background-image: url("/images/md/bg-section-plane@1x.png");
          background-image: -webkit-image-set(
            url("/images/md/bg-section-plane@1x.png") type("image/png") 1x,
            url("/images/md/bg-section-plane@2x.png") type("image/png") 2x
          );
          background-image: image-set(
            url("/images/md/bg-section-plane@1x.png") type("image/png") 1x,
            url("/images/md/bg-section-plane@2x.png") type("image/png") 2x
          );
        }
        @media (min-width: 1280px) {
          top: -89px;
          left: -140px;
          width: 388px;
          height: 160px;
          background-size: 388px 160px;
          background-image: url("/images/lg/bg-section-plane-left@1x.png");
          background-image: -webkit-image-set(
            url("/images/lg/bg-section-plane-left@1x.png") type("image/png") 1x,
            url("/images/lg/bg-section-plane-left@2x.png") type("image/png") 2x
          );
          background-image: image-set(
            url("/images/lg/bg-section-plane-left@1x.png") type("image/png") 1x,
            url("/images/lg/bg-section-plane-left@2x.png") type("image/png") 2x
          );
        }
        @media (min-width: 1920px) {
          top: -110px;
          left: -149px;
          width: 388px;
          height: 160px;
          background-size: 388px 160px;
          background-image: url("/images/xl/bg-section-plane-left@1x.png");
          background-image: -webkit-image-set(
            url("/images/xl/bg-section-plane-left@1x.png") type("image/png") 1x,
            url("/images/xl/bg-section-plane-left@2x.png") type("image/png") 2x
          );
          background-image: image-set(
            url("/images/xl/bg-section-plane-left@1x.png") type("image/png") 1x,
            url("/images/xl/bg-section-plane-left@2x.png") type("image/png") 2x
          );
        }
      }
    }

    .section__title-line_2 {
      display: block;
      color: var(--grey-darkest);
      margin-top: -4px;
      @media (min-width: 900px) {
        margin-top: -2px;
      }
      @media (min-width: 1280px) {
        margin-top: -1px;
      }
      @media (min-width: 1920px) {
        margin-top: 8px;
      }
    }
  }

  // Main SubTitle
  .section__subTitle {
    color: var(--grey-darker);
    font-size: 14px;
    font-weight: 400;
    line-height: 136%;
    margin: 0 auto !important;
    text-align: center;
    text-indent: 1px;
    max-width: 320px;
    @media (min-width: 900px) {
      font-size: 15px;
      line-height: 145%;
      max-width: 512px;
    }
    @media (min-width: 1280px) {
      font-size: 16px;
      line-height: 145%;
      max-width: 544px;
    }
    @media (min-width: 1920px) {
      font-size: 18px;
      line-height: 138%;
      max-width: 600px;
      text-indent: -20px;
    }
  }

  // Main form
  .section__form {
    margin-top: 23px;
    @media (min-width: 900px) {
      display: grid;
      grid-template-columns: 356.62px 280.52px 77.8px;
      gap: 15px;
      justify-content: center;
      align-items: flex-start;
      margin-top: 29px;
    }
    @media (min-width: 1280px) {
      margin-top: 36px;
    }
    @media (min-width: 1920px) {
      margin-top: 38px;
    }

    .section__field {
      margin-bottom: 9px;
      text-align: center;
      @media (min-width: 900px) {
        margin-bottom: 0;
      }
      @media (min-width: 1920px) {
        position: relative;
        left: -7px;
      }

      .section__input {
        background-color: var(--white);
        box-shadow: 0 4px 22px 0 var(--black_07);
        border: none;
        border-radius: 4px;
        padding: 0 29px;
        max-width: 450px;
        height: 54px;
        @media (min-width: 900px) {
          max-width: initial;
        }
        &::placeholder {
          color: var(--grey-darker);
          font-size: 14px;
        }
      }

      .section__select {
        background-color: var(--white);
        box-shadow: 0 4px 22px 0 var(--black_07);
        border: none;
        border-radius: 4px;
        padding: 0 30px;
        max-width: 450px;
        height: 54px;

        @media (min-width: 900px) {
          max-width: initial;
        }
        .ant-select-placeholder {
          color: var(--grey-darker) !important;
        }
      }
    }
    .section__buttons {
      margin-top: 16px;
      text-align: center;
      @media (min-width: 900px) {
        margin-top: 0;
      }
      .btn-search {
        border-radius: 4px;
        width: 200px;
        height: 54px;
        transition: none;
        @media (min-width: 900px) {
          width: 77.8px;
        }
        @media (min-width: 1920px) {
          position: relative;
          left: -7px;
        }
        .icon-search {
          color: var(--white);
          font-size: 18px;
        }
      }
    }
  }
}
