.section--relocation {
  background-color: var(--grey-light);
  padding-top: 30px;
  padding-bottom: 60px;
  position: relative;
  &:before {
    content: '';
    background-color: var(--blue);
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 334px;
  }
  .section__wrapper {
    position: relative;
    z-index: 1;
  }
  .section__header {
    padding-top: 23px;
    padding-bottom: 8px;
  }
  .section__title {
    color: var(--white);
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 16px;
    text-indent: 4px;
    text-align: center;
  }
  .section__description {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.44;
    margin-bottom: 16px;
    text-align: center;
  }
}

.relocation {
  padding: 0 15px 29px;
}
.relocation__wrapper {
  padding-bottom: 21px;
}
.relocation__article {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 4px 23px 0 var(--black_07);
  display: none;
  padding-top: 28px;
  padding-bottom: 16px;
  &--active {
    display: block;
  }
}
.relocation__title {
  color: #3A3A3A !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  line-height: 1.24 !important;
  margin: 0 auto !important;
  max-width: 220px;
  text-align: center;
}
.relocation__nav {
  padding-top: 21px;
}
.relocation__nav-link {
  background-color: var(--white);
  color: rgba(68, 68, 68, .8);
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
  height: 48px;
  transition: .3s;
  padding-left: 52px;
  padding-right: 15px;
  text-decoration: none;
  &:hover, &:focus, &:active {
    background-color: #F4F3FF;
    color: var(--blue);
    font-weight: 500;
    text-decoration: underline;
  }
}
