.section--relocation {
  background-color: var(--grey-light);
  position: relative;
  &:before {
    content: '';
    background-color: var(--blue);
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 335px;
  }
  .section__wrapper {
    position: relative;
    z-index: 1;
  }
  .section__header {}
  .section__title {
    color: var(--white);
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    text-align: center;
  }
  .section__text {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.45;
  }
}

.relocation {
  padding: 0 15px 30px;
}
.relocation__wrapper {
  padding-bottom: 22px;
}
.relocation__article {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 4px 23px 0 var(--black_07);
  display: none;
  padding-bottom: 10px;
  &--active {
    display: block;
  }
}
.relocation__title {
  color: #3A3A3A !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  line-height: 1 !important;
  margin: 0 auto;
  max-width: 220px;
  text-align: center;
}
.relocation__nav {
}
.relocation__link {
  background-color: var(--white);
  color: rgba(68, 68, 68, .8);
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.51;
  line-height: 48px;
  height: 48px;
  transition: .3s;
  text-align: center;
  &:hover, &:focus, &:active {
    background-color: #F4F3FF;
    color: var(--blue);
    text-decoration: underline;
  }
}
