:root {
  --white: #fff;
  --white_0: rgba(255,255,255,0);
  --white_20: rgba(255,255,255,.2);
  --white_30: rgba(255,255,255,.3);
  --white_67: rgba(255,255,255,.67);

  --black: #000;
  --black_0: rgba(0,0,0,0);
  --black_07: rgba(0,0,0,.07);
  --black_12: rgba(0,0,0,.12);

  --grey: #929292;
  --grey-dark:#636264;
  --grey-darker:#5A5A5A;
  --grey-darkest:#040404;
  --grey-light: #C8C7C7;
  --grey-lighter: #DEDEDE;
  --grey-lightest: #fafafa;

  --blue: #3F36E1;
  --blue-dark: #3223CF;

  // --link-color: var(--blue);
  // --link-color-active: var(--blue-light);

  --primary-color: var(--blue);
  --primary-color-hover: var(--blue-dark);

  --button-primary-bg-color: var(--primary-color);
  --button-primary-bg-color-hover: var(--primary-color-hover);

  // variables
  --background: var(--white);
  --text-color: var(--black);
  --header-bg-color: var(--white);
  --locale-switcher-bg-color: var(--grey-lightest);
  --locale-switcher-bg-color-hover: var(--black_0);
  --locale-switcher-bg-color-active: var(--black_05);
  --theme-switcher-color: var(--black);
  --theme-switcher-color-hover: var(--black);
  --theme-switcher-bg-color: var(--grey-lightest);
  --theme-switcher-bg-color-hover: var(--grey-lightest);
  --theme-switcher-border-color: var(--grey-light);
  --theme-switcher-border-color-hover: var(--blue);
}

.dark {

}
