:root {
  --white: #fff;
  --white_0: rgba(255,255,255,0);
  --white_20: rgba(255,255,255,.2);
  --white_30: rgba(255,255,255,.3);
  --white_67: rgba(255,255,255,.67);

  --black: #000;
  --black_0: rgba(0,0,0,0);
  --black_07: rgba(0,0,0,.07);
  --black_12: rgba(0,0,0,.12);

  --grey: #929292;
  --grey-dark:#636264;
  --grey-darker:#5A5A5A;
  --grey-darkest:#040404;
  --grey-light: #F6F6FD;
  // --grey-lighter: #DEDEDE;
  // --grey-lightest: #fafafa;

  --blue: #3F36E1;
  --blue_30: rgba(63, 54, 225, .3);
  --blue-dark: #3223CF;
  --blue-light: #4132E5;

  --purple: #B76BFE;

  --orange: #FF582A;
  --yellow: #FFE817;

  --box-shadow: rgba(80, 107, 159, .23);

  // --link-color: var(--blue);
  // --link-color-active: var(--blue-light);

  --primary-color: var(--blue);
  --primary-color-hover: var(--blue-dark);

  --button-primary-solid-bg-color: var(--primary-color);
  --button-primary-solid-bg-color-hover: var(--primary-color-hover);
  --button-primary-solid-color: var(--white);
  --button-primary-outlined-bg-color: var(--white);
  --button-primary-outlined-bg-color-hover: var(--white);
  --button-primary-outlined-color: var(--blue-light);
  --button-primary-link-color: var(--blue-light);
  --button-primary-link-color-hover: var(--blue);

  --button-secondary-bg-color: var(--white);
  --button-secondary-bg-color-hover: var(--white);
  --button-secondary-color: var(--blue);

  --button-warning-bg-color: var(--orange);
  --button-warning-bg-color-hover: var(--orange);
  --button-warning-color: var(--white);

  // variables
  --background: var(--white);
  --text-color: var(--black);
  --header-bg-color: var(--white);
  --locale-switcher-bg-color: var(--grey-lightest);
  --locale-switcher-bg-color-hover: var(--black_0);
  --locale-switcher-bg-color-active: var(--black_05);
  --theme-switcher-color: var(--black);
  --theme-switcher-color-hover: var(--black);
  --theme-switcher-bg-color: var(--grey-lightest);
  --theme-switcher-bg-color-hover: var(--grey-lightest);
  --theme-switcher-border-color: var(--grey-light);
  --theme-switcher-border-color-hover: var(--blue);
}

.dark {

}
